
/* NAVIGATION */

.navbar{
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: hsl(342, 65%, 80%);
    position: fixed;
    z-index: 999;
    margin: 0;
    border-radius: 15px 0 0 0;
    gap: 38%;
    box-shadow: 0px 5px 20px hsla(4, 8%, 18%, 0.1);

}

.navbar div{
    display: flex;
    flex-direction: row;
}

/* SEARCH CONTAINER */
.search-container{
    position: relative;
    width: 40%;
    padding: 8px;
    left: 50%;
    transform: translate(calc(-50% - 130px));
    border-radius: 15px;
    background: hsla(342, 65%, 70%, 0.4);
}
.search-container input{
    width: 90%;
    margin-left: 10px;
    background: transparent;
    border-width: 0;
    
}
.search-container button{  
    background: transparent;
    border-width: 0;
    font-size: 20px;
    color: hsl(342, 65%, 50%);
}

/* END OF SEARCH CONTAINER */

/* USER PROFILE */
.navbar .user-profile{
    align-items: center;
    gap: 10px;
}

.navbar .user-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 4rem;

}

/* END OF USER PROFILE */

/* END OF NAVIGATION */
